@model IEnumerable<GameStore.Models.Product>

@{
    ViewData["Title"] = "List";
    HashSet<Category> categories = new HashSet<Category>();
    foreach (var product in Model)
    {
        if (!categories.Contains(product.Category))
        {
            categories.Add(product.Category);
        }
    }
}

<h1>@ViewData["Title"]</h1>
<div class="container-xxl text-center">
    <div class="row">
        @foreach (var category in categories)
        {
            <div class="col p-3 bg-secondary mx-3 fs-5 text-white">
                @category.CategoryName
            </div>
        }
    </div>
    <div class="row flex-nowrap mt-4">
        @foreach (var category in categories)
        {
            <div class="p-2 mx-3 col border-secondary border-1 border-start border-end border-success">
                @foreach (var product in Model.Where(product => product.Category.CategoryName == category.CategoryName))
                {
                    <div class="row p-2 flex-column my-2">
                        <h6 class="fs-6 fw-bold">@product.ProductName</h6>
                        <p>@product.ProductPrice.ToString("C")</p>
                    </div>
                }
            </div>
        }
    </div>
</div>